<template>
  <div class="main-container">
    <header class="header">
      <div class="header-container">
        <div class="header-start">
          <div class="header-arrow-back">
            <img src="../../assets/img/arrowToLeft.svg" alt="">
          </div>
          <div class="header-page-info">
            <p class="header-page-info__date">1205-20 от 01.01.2020</p>
          </div>
        </div>
        <div class="header-end">
          <div class="header-company">
            <div class="header-company__logo">
              <img src="../../assets/img/logoTechNicol.svg" alt="logo not found">
            </div>
            <p class="header-company__name">ООО «Технониколь»</p>
          </div>
          <div class="header-basket">
            <div class="header-basket__img">
              <img src="../../assets/img/basket.svg" alt="basket img not found">
            </div>
            <div class="header-basket__counter">
              <p>4</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="main-body">
      <div class="main-calendar">
        <div class="main-title">
          <p class="main-title__text">Предварительный медицинский осмотр лиц, поступающих в учебные заведения гражданской авиации (ГА)</p>
        </div>
        <div class="calendar-part">
          <ul class="calendar-months">
            <li class="calendar-months__item" v-for="month in months" :key="month.id">{{month.name}}</li>
          </ul>
          <div class="calendar-current">
            <p class="calendar-current__name">Май</p>
            <p class="calendar-current__count-seats">Свободных мест 345 из 1000</p>
          </div>
        </div>
        <ul class="calendar-week">
          <li>Пн</li>
          <li>Вт</li>
          <li>Ср</li>
          <li>Чт</li>
          <li>Пт</li>
          <li>Сб</li>
          <li>Вс</li>
        </ul>
        <div class="calendar-box">
          <div 
            class="calendar-box__item" 
            v-for="day in days" :key="day.id" 
            :class="{'calendar-box__item_active': day.fill}"
            @drop="employeeOnDrop($event, day.id)"
            @dragover.prevent
            @dragenter="drugEnterDay($event)"  
            @dragleave="drugLeaveDay($event)"
>
            <p>{{day.day}}</p>
            <p 
              v-if="day.fill > 0" 
              class="calendar-box__item-fill" 
              :class="{
                'calendar-box__item-fill_less': day.fill < 20, 
                'calendar-box__item-fill_more': day.fill >= 20
              }">{{day.fill}} из {{day.all}}</p>
          </div>
        </div>
        <div class="calendar-seats-info">
          <div class="seat-info-dogovor seat-type">
            <p class="seat-info-dogovor__text seat-type__text">Мест по договору</p>
            <p class="seat-info-dogovor__count seat-type__count">100</p>
          </div>
          <div class="seat-info-record seat-type">
            <p class="seat-info-record__text seat-type__text">Записанных</p>
            <p class="seat-info-record__count seat-type__count">60</p>
          </div>
          <div class="seat-info-free seat-type">
            <p class="seat-info-dogovor__text seat-type__text">Свободных</p>
            <p class="seat-info-dogovor__count seat-type__count">40</p>
          </div>
          <button class="seat-info-distribute__button btn btn-blue">Распределить автоматически 32</button>
          <button class="seat-info-record__button btn btn-red">Записать</button>

        </div>
      </div>
      <div class="main-list-employee">
        <div class="add-employess-btns">
          <button type="button" class="add-emploeyy__btn btn btn-red">Добавить сотрудника</button>
          <button type="button" class="delete-emploeyy__btn btn btn-outline_red"><img src="../../assets/img/trash.svg" alt=""><span>Удалить всех</span></button>
        </div>
        <div class="list-employees">
          <div class="list-employees-title">
            <p class="list-employees-title__text">Список сотрудников 40 </p>
            <p class="list-employees-title__registered">Записанных 0 </p>
          </div>
          <div class="list-employees-box">
            <div class="list-employees-filter">
              <p class="list-employees-filter__name">ФИО</p>
              <p class="list-employees-filter__date-register">Дата записи</p>
              <div class="list-employees-filter__line"></div>
            </div>
            <div class="list-employees-catergories">          
              <div 
                class="list-employees-category" 
                v-for="category in categories" 
                :key="category.id"
              >
                <div class="category-top">
                  <div class="category-top-start">
                    <div class="category-top-start__image">
                      <img src="../../assets/img/categoryIcon.svg" alt="">                  
                    </div>
                    <p class="category-top__title">{{category.name}} {{category.employees.length}}</p>
                  </div>
                  <div class="category-top-end">
                    <img src="../../assets/img/arrowToBottom.svg" alt="">
                  </div>
                </div>
                <div class="category-employees-list">
                  <div 
                    class="category-employee" 
                    v-for="employee in category.employees" 
                    :key="employee.id"
                    draggable
                    @dragstart="employeeOnDragStart($event, category.id, employee.id)"
                  >
                    <div class="category-employee-start">
                      <div class="category-employee-start__image">
                        <img src="../../assets/img/categoryIcon.svg" alt="" class="employee-start__icon">
                      </div>
                      <p class="employee-start__name">{{employee.name}}</p>
                    </div>
                    <div class="category-employee-middle">
                      <p class="employee-middle__date">{{employee.dateRegistrate}}</p>
                    </div>
                    <div class="category-employee-end">
                      <img src="../../assets/img/trash.svg" alt="" class="employee-end__delete">
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import {Component, Prop, Vue} from 'vue-property-decorator';

interface Months {
  id: number,
  name: string,
  active: boolean
}

interface Day {
  id: number,
  day: string,
  all: number,
  fill: number
}

interface EmploeeysList {
  id: number,
  name: string, 
  dateRegistrate: string,
}

interface CategoriesList{
  id: number,
  name: string,
  employees: Array<EmploeeysList>,
}
 
@Component
export default class empoloyeeCalendar extends Vue{

  employeeOnDragStart(event: DragEvent, categoryId: number, itemId: number){
    event.dataTransfer!.dropEffect = 'move';
    event.dataTransfer!.effectAllowed = 'move';

    event.dataTransfer?.setData('itemId', itemId.toString());
    event.dataTransfer?.setData('categoryId', categoryId.toString());
  }

  employeeOnDrop(event: any, dayId: number){
    let itemId: number | undefined;
    let categoryId: number | undefined; 

    if (event.dataTransfer?.getData('itemId') != undefined) {
      itemId = parseInt(event.dataTransfer?.getData('itemId'));
    }

    if (event.dataTransfer?.getData('categoryId') != undefined) {
       categoryId = parseInt(event.dataTransfer?.getData('categoryId'));
    }
    
    if(categoryId != undefined && itemId != undefined){
     this.categories[categoryId].employees = this.categories[categoryId].employees.filter(item => item.id !== itemId)
    }

    this.days[dayId].fill++;

    event.target.classList.remove('active_day');
  }
  
  drugEnterDay(event: any){
    event.target.classList.add('active_day');
  }

  drugLeaveDay(event: any){
    event.target.classList.remove('active_day');
  }
  
  
  //наполнители 

  created(){
    this.days.forEach((item, index) => {
      item.id = index;
      item.all = 50;
      item.fill = 0;
      if(Number(item.day) > 22){
        let randomFill = Math.floor(Math.random() * (50 - 0 + 1) + 0);
        item.all = 50;
        item.fill = randomFill;        
      }
    })
  }

  categories: Array<CategoriesList> = [
    {
      id: 0,
      name: 'Отдел продаж',
      employees: [
        {
          id: 0,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
        {
          id: 1,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
        {
          id: 3,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
      ]
    },
    {
      id: 1,
      name: 'Склад',
      employees: [
        {
          id: 4,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
        {
          id: 5,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
        {
          id: 6,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
        {
          id: 7,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
        {
          id: 8,
          name: 'Иванов Иван Иванович',
          dateRegistrate: '-.--.----'
        },
      ]
    }
  ];

  days: Array<Day> = [{id: 0, day: '27'}, {id: 1, day: '28'}, {id: 0, day: '29'}, {id: 0, day: '30'}, {id: 0, day: '1'}, {id: 0, day: '2'}, 
                      {id: 0, day: '3'}, {id: 0, day: '4'}, {id: 0, day: '5'}, {id: 0, day: '6'}, {id: 0, day: '7'}, {id: 0, day: '8'}, 
                      {id: 0, day: '9'}, {id: 0, day: '10'}, {id: 0, day: '11'}, {id: 0, day: '12'}, {id: 0, day: '13'}, {id: 0, day: '14'}, 
                      {id: 0, day: '15'}, {id: 0, day: '16'}, {id: 0, day: '17'}, {id: 0, day: '18'}, {id: 0, day: '19'}, {id: 0, day: '20'}, 
                      {id: 0, day: '21'}, {id: 0, day: '22'}, {id: 0, day: '23'}, {id: 0, day: '24'}, {id: 0, day: '25'}, {id: 0, day: '26'}, 
                      {id: 0, day: '27'}, {id: 0, day: '28'}, {id: 0, day: '29'}, {id: 0, day: '30'}, {id: 0, day: '31'}]


  months: Array<Months> = [
    {
      id: 0,
      name: 'Май', 
      active: true,
    },
    {
      id: 1,
      name: 'Июнь', 
      active: false,
    },
    {
      id: 2,
      name: 'Июль', 
      active: false,
    },
    {
      id: 3,
      name: 'Август', 
      active: false,
    },
    {
      id: 4,
      name: 'Сентябрь', 
      active: false,
    },
    {
      id: 5,
      name: 'Октябрь', 
      active: false,
    },
    {
      id: 6,
      name: 'Ноябрь', 
      active: false,
    },
    {
      id: 7,
      name: 'Декабрь', 
      active: false,
    },
  ]
}
</script>


<style lang="scss" scoped>

.main-container{
  padding: 60px 80px;
  header{
    width: 100%;  
    .header-container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-start{
        position: relative;
        display: flex;
        align-content: center;
        .header-arrow-back{
          position: absolute;
          top: 50%;
          left: -40px;
          transform: translateY(-50%);
        }
      }
      .header-end{
        display: flex;
        align-items: center;
        .header-company{
          display: flex;
          align-items: center;
          margin-right: 40px;
          .header-company__logo{
            display: flex;
            align-items: center;
            margin-right: 10px;
          }
        }
        .header-basket{
          display: flex;
          align-items: center;
          .header-basket__img{
            margin-right: 10px;
          }
        }
      }
    }
  }
  .main-body{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    .main-calendar{
      width: 58%;
      max-width: 58% ;
      .main-title p{
        font-size: 1.8rem;
      }
      .calendar-part{
        .calendar-months{
          margin-top: 29px;
          display: flex;
          max-width: 100%;
          flex-wrap: wrap;
          &__item{
            font-size: 1.2rem;
            color: #999999;
            cursor: pointer;
            &_active{
             color: #128BE3;
            }
          }
          &__item:not(:first-child){
            margin-left: 24px;
          }
        }
        .calendar-current{
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          width: 100%;
          &__name{
            font-size: 1.6rem;
            color: #E31243;
          }
          &__count-seats{
            font-size: 1.4rem;
            color: #06C270;
          }
        }
      }
      .calendar-week{
        width: 100%;
        column-count: 7;
        column-gap: 0;
        margin-top: 16px;
        li{
          font-size: 1.3em;
        }
      }
      .calendar-box{
        width: 100%;
        // column-count: 7;
        // column-gap: 0;
        display: flex;
        flex-wrap: wrap;
        &__item{
          height: 5rem;
          background-color: #F9F9F9;
          outline-offset: 0px;
          outline: 1px solid #DBDADA;
          // border: 1px solid #DBDADA;
          padding: 8px;
          width: 14.28%;
          position: relative;
          p {
            pointer-events: none;
          }
          &-fill{
            font-size: 1rem;
            position: absolute;
            bottom: 8px;
            left: 8px;
            &_less{
              color: #FF8800;
            }
            &_more{
              color: #06C270;
            }
          }
          &_active{
            background-color: #FFFFFF;
          }
        }
      }
      .calendar-seats-info{
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .seat-type{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .seat-type__text{
            font-size: 1rem;
            font-family: 'DinDisplay Regular';
            color: #999999;
          }
          .seat-type__count{
            font-size: 1.5rem;
          }
        }

      }
    }
    .main-list-employee{
      width: 40%;
      max-width: 40%;
      .add-employess-btns{
        display: flex;
        margin-top: 50px;
        .delete-emploeyy__btn{
          margin-left: 2rem;  
          color: #E31243;
          display: flex;
          justify-content: space-between;
          align-items: center;
          & span{
            margin-left: 10px;
          }
        }        
      }
      .list-employees{
        margin-top: 40px;
        .list-employees-title{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          .list-employees-title__text{
            font-size: 1.5rem;
          }
          .list-employees-title__registered{
            color: #128BE3;
            font-size: 1.4rem;
          }
        }
        .list-employees-box{
          margin-top: 17px;
          .list-employees-filter{
            display: flex;
            align-items: center;
            padding: 8px 0;
            position: relative;
            border-bottom: 1px solid #DBDADA;
            & p{
              font-family: 'DinDisplay Regular';
              color: #999999;
              font-size: 1rem;
            }
            .list-employees-filter__name{
              width: 60%;
            }
          }
          .list-employees-catergories{
            margin-top: 15px;
            .list-employees-category{
              border-bottom: 1px solid #DBDADA;

              &:not(:first-child){
                margin-top: 27px;
              }
              .category-top{
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 15px 20px 0;
                .category-top-start{
                  display: flex;
                  .category-top__title{
                    margin-left: 10px;
                    font-size: 1.5rem;
                  }
                  &__image{
                    display: flex;
                    justify-content: center;
                    align-items: center;                  
                  }
                }
                .category-top-end{
                  display: flex;
                  align-items: center;
                }

              }
              .category-employees-list{

                .category-employee{
                  display: flex;
                  align-items: center;
                  width: 100%;
                  padding: 13px 15px;
                  cursor: grab;
                  border-bottom: 1px solid rgb(219, 218, 218, 0);
                  border-top: 1px solid rgb(219, 218, 218, 0);
                  &:hover{
                    background-color: #F2F2F2;
                    border-bottom: 1px solid rgb(219, 218, 218, 1);
                    border-top: 1px solid rgb(219, 218, 218, 1);
                  }
                  &-start{
                    display: flex;
                    width: 65%;
                    .employee-start__name{
                      margin-left: 10px;
                      user-select: none;  
                      font-size: 1.2rem;
                      font-family: 'DinDisplay Regular'; 
                    }
                    &__image{
                      display: flex;
                      justify-content: center;
                      align-items: center;                          
                    }
                  }
                  &-middle{
                    width: 40%;
                    p{
                      user-select: none;  
                    }
                  }
                  &-end{
                    cursor: pointer;
                    img{
                      padding: 7px 3px;
                    }
                  }
                }
                
              }
            }
          }
        }
      }
    }
  }
}

.btn{
  padding: 1rem  1.5rem;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  outline: none;
  font-family: 'DinDisplay Medium';
  font-size: 1rem;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-blue{
  background-color: #128BE3;
}

.btn-red{
  background-color: #E31243;;
}

.btn-outline_red{
  background-color: transparent;
  border: 1px solid #E31243; 
}

.active_day{
  background-color: rgb(82, 167, 228, .2) !important;
} 



</style>