<template>
  <div id="app">
    <empoloyee-calendar/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import empoloyeeCalendar from './pages/employeesCalendar/employeeCalendar.vue';

@Component({
  components: {
    empoloyeeCalendar,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
@font-face {
  font-family: 'DinDisplay Medium';
  src: url(./assets/fonts/PFDinDisplayPro-Medium.ttf);
}

@font-face {
  font-family: 'DinDisplay Regular';
  src: url('./assets/fonts/PFDinDisplayPro-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}
html {
  overflow-x: hidden;
}
#app {
  font-family: 'DinDisplay Medium';
  color: #353535;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
   background: #E6E6E6;
}

::-webkit-scrollbar-thumb{
 background: #E31243;
}
</style>
